@font-face {
  font-family: 'latomedium';
  src: url('./latomedium.font.eot');
  src: url('./latomedium.font.eot?#iefix') format('embedded-opentype'),
      url('./latomedium.font.woff2') format('woff2'),
      url('./latomedium.font.woff') format('woff'),
      url('./latomedium.font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
