@font-face {
    font-family: 'glyphter';
    src: url('./Glyphter.font.eot');
    src: url('./Glyphter.font.eot?#iefix') format('embedded-opentype'),
            url('./Glyphter.font.woff') format('woff'),
            url('./Glyphter.font.ttf') format('truetype'),
            url('./Glyphter.font.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}