extends ../layouts/layout
block main
    section.page
        h1.heading.heading-attention
            |Главная страница
    section.content
        include ../blocks/icon-block
        svg
            use(xlink:href="#1-clock")
